* {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


body {
  background-color: black;
  color: white;
}

button:hover {
  background-color:rgb(182, 174, 174);
  color: white;
  cursor: pointer;
}
#time-div {
  display:none;
}

#Game-container {
  display:none;
}

#Scores-container {
  display:none;
}

#scores-page {
  display:none;
}

#scores-display {
  font: white;
}

#again {
  display: none;
}